<% layout('layouts/boilerplate') -%>
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card listing-card" >
            <form  method="post" action="/listings/<%= listing._id %>?_method=PUT" class=" needs-validation" novalidate enctype="multipart/form-data">
                <h3>Edit new list</h3><br>
                <div class="mb-3">
                    <label for="title" class="form-label">Titel</label>
                    <input class="form-control" type="text" name="listing[title]" value="<%=listing.title  %>" required>
                    <div class="invalid-feedback">Please enter a title.</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" type="text" name="listing[description]"
                       ><%= listing.description %> </textarea>
                       <div class="invalid-feedback">Please enter a description.</div>
                </div>
                <div class="mb-3">
                    Current Image
                   <img  src="<%=listing.image.url%>" class="card-img-top" alt="..." style="height: 15rem; ">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label"> Upload New Image</label>
                    <input class="form-control" type="file" name="listing[image]"   >
                    <div class="invalid-feedback">Please enter a valid image URL.</div>
                </div>
                
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">price</label>
                        <input class="form-control" type="text" name="listing[price]" value="<%=listing.price%> ">
                        <div class="invalid-feedback">Please enter a valid price.</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input class="form-control" type="text" name="listing[country]" value="<%=listing.country  %> ">
                        <div class="invalid-feedback">Please enter a country.</div>
                    </div>

                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input class="form-control" type="text" name="listing[location]" value="<%=listing.location%>">
                    <div class="invalid-feedback">Please enter a location.</div>
                </div>
                <button class="btn btn-primary mb-3 add-btn">add</button>
            </form>
            </div>
        </div>
    </div>

